---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("August 08 2022")}
  heroImage="/allesnurgecloud/allesnurgecloud-about.jpg"
>
  <p>
    Willkommen in der chaotisch-charmanten Welt von Faba's Blog, einer Oase der Kreativität, des Lachens und der
    Sympathie! Ich bin Fabian Tränkle, auch bekannt als Faba, ein bescheidener Mitte-Dreißigjähriger IT-Kerl, der
    einfach das Leben und seine vielen interessanten Hobbys genießt.
  </p><p>
    Hier teile ich meine Abenteuer aus der Welt des POV-Drone-Racings, wo ich die Lüfte durchstreife wie ein Adler auf
    der Jagd nach dem nächsten Adrenalinkick. Aber keine Sorge, ich bin auch bodenständig - vor allem, wenn es um meine
    Leidenschaft fürs Hacken, Hardware und Counterstrike geht. Als Veteran dieses ehrwürdigen Spiels, habe ich meinen
    fairen Anteil an kniffligen Situationen überstanden und epische Comebacks erlebt.
  </p><p>
    Tagsüber arbeite ich bei einem großen, namenlosen IT-Anbieter, wo ich mich um die Security kümmere - sowohl im
    digitalen als auch im realen Leben. Hier schreibe ich über meine Erfahrungen, meine Gedanken und die schrägen
    Geschichten, die mir in der IT-Welt begegnen.
  </p><p>
    Als Mitglied des Chaos Computer Clubs und des Labors in Saarbrücken kann es auch mal passieren, dass ich mich in
    Kryptographie-Rätseln verliere oder von obskuren Projekten berichte, die die Grenzen von Technologie und
    menschlichem Einfallsreichtum ausloten.
  </p><p>
    Natürlich gibt es in Faba's Blog auch Raum für entspannte Geselligkeit. Hier findest du meine Erfahrungen beim Bau
    von Retro-Arcade-Automaten, DIY-Projekte für Smart-Home-Enthusiasten und sogar Rezepte für nerdige Leckereien, die
    bei jeder LAN-Party für Begeisterung sorgen.
  </p><p>
    Komm also rein, mach es dir gemütlich und erkunde die vielen Seiten von Faba's Blog. Lachen, Lernen und Leidenschaft
    sind hier garantiert!
  </p>
</Layout>
