---
import Link from "./Link.astro";
---

<footer>
  <p>build with ❤ and open source</p>
  <nav>
    <Link href="/impressum">Impressum</Link>
    <Link href="/datenschutz">Datenschutz</Link>
  </nav>
</footer>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
